<div class="main d-none d-md-block">
  <aside>
    <div class="sidebar left ">

      <ul class="list-sidebar bg-defoult">

        <li>
          <a [routerLink]="['/']">
            <i class="fa fa-signal"></i>
            <span class="nav-label ml-4">Dashboard</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/products']">
            <i class="fa fa-list-alt"></i>
            <span class="nav-label ml-4">Products</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/']">
            <i class="fa fa-volume-up"></i>
            <span class="nav-label ml-4">Campaign</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/']">
            <i class="fa fa-users"></i>
            <span class="nav-label ml-4">Patiens</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/']">
            <i class="fa fa-phone-square"></i>
            <span class="nav-label ml-4">Programs</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/']">
            <i class="fa fa-align-left"></i>
            <span class="nav-label ml-4">Monitoring</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
</div>